

<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Guia Playground</title>
        
        <link rel="icon" href="src/favicon.ico" type="svg+xml">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../public/css/globals.css">
        <script src="../public/script/global.js" defer></script>
        <script src="../public/script/includes/appbar.js" defer></script>
        <script src="../public/script/includes/sidebar.js" defer></script>
        <style>
            
        </style>
</head>

<body>
    <page-header></page-header>
    <page-sidebar></page-sidebar>
    <main>
        <home-page style="padding: 45px; /* background: #f5f5f5; */">
            <card>card</card>
            <card color="#27f">card</card>
            <card color="#27f">card azul pixel #27f</card>
        </home-page>
    </main>

    <script>
        "use strict";
        const $ = v => document.querySelector( v ),
              $$ = v => document.querySelectorAll( v );

        let colors = $$( "[color]" );

        window.addEventListener( "load", ev => {
            colors.forEach( cl => cl.style.color = cl.getAttribute( "color" ) );
        } );
    </script>2641

</body>
</html>